<section class="sp_container">
  <h1><span>Every</span><span>Cent</span></h1>
  <div class="sp_links">
    <%= link_to 'LOG IN', new_user_session_path, class: "sp-login" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "sp-signup" %>  
  </div>
</section>